:root {
  --primary: #497573;
  --secondary: #99f8f2;
  --tertiary: #b2c2c1;
  --quatrinary: #cadbda;
  --light: #e1f5f4;
  --dark: #6c7575;
  --error: rgb(228, 46, 1);
  --border-radius: 0.3rem;
  --spacing-one: calc(1rem * 0.25);
  --spacing-two: calc(1rem * 0.5);
  --spacing-three: 1rem;
  --spacing-four: calc(1rem * 1.5);
  --spacing-five: calc(1rem * 3);

  --background-one: #000;
  --background-two: #202020;
  /* #6593A6 */
  /* Beige: #f3e2bd */
  --color-blue: #243840;
  --color-beige: #f7ebce;
}

* {
  box-sizing: border-box;
}

html,
body {
  min-height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Inconsolata", monospace;
  font-weight: 400;
  line-height: 1.5;
  font-size: 20px;
  color: var(--dark);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Karla", sans-serif;
  font-weight: 700;
  margin: 5px 0;
  line-height: 1.25;
}

h1 {
  font-size: 2.25rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.75rem;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1.25rem;
}

h6 {
  font-size: 1rem;
}

p {
  font-size: 1.1rem;
  margin-top: 0;
}

a {
  color: var(--dark);
  text-decoration: none;
}

a:visited {
  color: inherit;
}
/* 
nav {
  width: 100%;
  justify-content: center;
} */

/* nav a {
  padding: 6px 10px;
  margin: 0 15px;
  transition: all 0.2s;
} */

/* nav a:hover {
  color: var(--secondary);
  background-color: var(--dark);
} */

li {
  list-style: none;
}

ul {
  padding: 0;
}

.page-title {
  text-align: center;
  width: 100%;
  margin: 0;
  font-size: 2.5rem;
}

.btn,
.pill {
  font-size: 1.3rem;
  text-decoration: none;
  padding: 0.5rem 1.2rem;
  margin: 5px 0;
  border-radius: var(--border-radius);
  border: none;
  color: var(--dark);
  outline: none;
  background-color: var(--secondary);
  transition: all 0.5s;
}

.btn:hover,
.pill:hover {
  color: var(--secondary);
  background-color: var(--dark);
}

.btn-inline {
  display: inline;
}

/* CARDS */
/* .card {
  margin: 0 0 20px 0;
  border: 3px solid var(--dark);
  border-radius: var(--border-radius);
  background-color: var(--light);
  color: var(--dark);
} */

.card-header {
  color: var(--secondary);
  margin: 0;
  background-color: var(--dark);
  padding: 0.625rem;
  border-radius: calc(0.18rem - 1px) calc(0.18rem - 1px) 0 0;
}

.card-body {
  padding: 2.5%;
  font-size: 1.4rem;
}

/* FORM */
.form-label,
.form-input,
.form-textarea {
  display: block;
}

.form-label {
  font-size: 1.2rem;
  margin: 0.625rem 0 0.25rem;
}

.form-input {
  width: 100%;
  padding: 0.75rem;
  margin: 0.2rem 0;
  font-size: 1.2rem;
  border: 2px solid var(--dark);
  border-radius: var(--border-radius);
}

[type="radio"]:checked,
[type="radio"]:not(:checked) {
  position: absolute;
  left: -9999px;
}
[type="radio"]:checked + label,
[type="radio"]:not(:checked) + label {
  position: relative;
  padding-left: 25px;
  cursor: pointer;
  line-height: 20px;
  display: inline-block;
  color: var(--secondary);
  margin-right: 0.2rem;
}

[type="radio"]:checked + label:before,
[type="radio"]:not(:checked) + label:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 18px;
  height: 18px;
  border: 2px solid var(--secondary);
  border-radius: 100%;
  background: #fff;
}
[type="radio"]:checked + label:after,
[type="radio"]:not(:checked) + label:after {
  content: "";
  width: 12px;
  height: 12px;
  background-color: var(--secondary);
  position: absolute;
  top: 5px;
  left: 5px;
  border-radius: 100%;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

[type="radio"]:not(:checked) + label:after {
  opacity: 0;
  -webkit-transform: scale(0);
  transform: scale(0);
}

[type="radio"]:checked + label:after {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}

/* LAYOUT */
.container {
  width: 85%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.container-fluid {
  width: 92%;
}

/* DISPLAY */
.display-none {
  display: none;
}

.display-block {
  display: block;
}

.display-inline-block {
  display: inline-block;
}

.display-inline {
  display: inline;
}

/* HEIGHT / WIDTH UTILS */
.w-100 {
  width: 100%;
}

.w-75 {
  width: 75%;
}

.w-50 {
  width: 50%;
}

.w-45 {
  width: 45%;
}

.w-25 {
  width: 25%;
}

.w-10 {
  width: 10%;
}
.w-fit-content {
  width: fit-content;
}
.h-100-vh {
  height: 100vh;
}

.min-100-vh {
  min-height: 100vh;
}

.min-100-vw {
  min-width: 100vw;
}
.h-100 {
  height: 100%;
}
/* MARGIN/PADDING UTILS */

/* Margin - all sides */
.m-0 {
  margin: 0;
}

.m-1 {
  margin: var(--spacing-one);
}

.m-2 {
  margin: var(--spacing-two);
}

.m-3 {
  margin: var(--spacing-three);
}

.m-4 {
  margin: var(--spacing-four);
}

.m-5 {
  margin: var(--spacing-five);
}

.m-auto {
  margin: auto;
}

/* Margin-bottom */

.mb-0 {
  margin-bottom: 0;
}

.mb-1 {
  margin-bottom: var(--spacing-one);
}

.mb-2 {
  margin-bottom: var(--spacing-two);
}

.mb-3 {
  margin-bottom: var(--spacing-three);
}

.mb-4 {
  margin-bottom: var(--spacing-four);
}

.mb-5 {
  margin-bottom: var(--spacing-five);
}

.mb-auto {
  margin-bottom: auto;
}

/* Margin-top */

.mt-0 {
  margin-top: 0;
}

.mt-1 {
  margin-top: var(--spacing-one);
}

.mt-2 {
  margin-top: var(--spacing-two);
}

.mt-3 {
  margin-top: var(--spacing-three);
}

.mt-4 {
  margin-top: var(--spacing-four);
}

.mt-5 {
  margin-top: var(--spacing-five);
}

.mt-auto {
  margin-top: auto;
}

/* Margin-right */

.mr-0 {
  margin-right: 0;
}

.mr-1 {
  margin-right: var(--spacing-one);
}

.mr-2 {
  margin-right: var(--spacing-two);
}

.mr-3 {
  margin-right: var(--spacing-three);
}

.mr-4 {
  margin-right: var(--spacing-four);
}

.mr-5 {
  margin-right: var(--spacing-five);
}

.mr-auto {
  margin-right: auto;
}

/* Margin-left */

.ml-0 {
  margin-left: 0;
}

.ml-1 {
  margin-left: var(--spacing-one);
}

.ml-2 {
  margin-left: var(--spacing-two);
}

.ml-3 {
  margin-left: var(--spacing-three);
}

.ml-4 {
  margin-left: var(--spacing-four);
}

.ml-5 {
  margin-left: var(--spacing-five);
}

.ml-auto {
  margin-left: auto;
}

/* Margin - x axis */

.mx-0 {
  margin-right: 0;
  margin-left: 0;
}

.mx-1 {
  margin-right: var(--spacing-one);
  margin-left: var(--spacing-one);
}

.mx-2 {
  margin-right: var(--spacing-two);
  margin-left: var(--spacing-two);
}

.mx-3 {
  margin-right: var(--spacing-three);
  margin-left: var(--spacing-three);
}

.mx-4 {
  margin-right: var(--spacing-four);
  margin-left: var(--spacing-four);
}

.mx-5 {
  margin-right: var(--spacing-five);
  margin-left: var(--spacing-five);
}

.mx-auto {
  margin-right: auto;
  margin-left: auto;
}

/* Margin - y axis */

.my-0 {
  margin-top: 0;
  margin-bottom: 0;
}

.my-1 {
  margin-top: var(--spacing-one);
  margin-bottom: var(--spacing-one);
}

.my-2 {
  margin-top: var(--spacing-two);
  margin-bottom: var(--spacing-two);
}

.my-3 {
  margin-top: var(--spacing-three);
  margin-bottom: var(--spacing-three);
}

.my-4 {
  margin-top: var(--spacing-four);
  margin-bottom: var(--spacing-four);
}

.my-5 {
  margin-top: var(--spacing-five);
  margin-bottom: var(--spacing-five);
}

.my-auto {
  margin-top: auto;
  margin-bottom: auto;
}

/* Padding - all sides */
.p-0 {
  padding: 0;
}

.p-1 {
  padding: var(--spacing-one);
}

.p-2 {
  padding: var(--spacing-two);
}

.p-3 {
  padding: var(--spacing-three);
}

.p-4 {
  padding: var(--spacing-four);
}

.p-5 {
  padding: var(--spacing-five);
}

.p-auto {
  padding: auto;
}

/* padding-bottom */

.pb-0 {
  padding-bottom: 0;
}

.pb-1 {
  padding-bottom: var(--spacing-one);
}

.pb-2 {
  padding-bottom: var(--spacing-two);
}

.pb-3 {
  padding-bottom: var(--spacing-three);
}

.pb-4 {
  padding-bottom: var(--spacing-four);
}

.pb-5 {
  padding-bottom: var(--spacing-five);
}

.pb-auto {
  padding-bottom: auto;
}

/* padding-top */

.pt-0 {
  padding-top: 0;
}

.pt-1 {
  padding-top: var(--spacing-one);
}

.pt-2 {
  padding-top: var(--spacing-two);
}

.pt-3 {
  padding-top: var(--spacing-three);
}

.pt-4 {
  padding-top: var(--spacing-four);
}

.pt-5 {
  padding-top: var(--spacing-five);
}

.pt-auto {
  padding-top: auto;
}

/* padding-right */

.pr-0 {
  padding-right: 0;
}

.pr-1 {
  padding-right: var(--spacing-one);
}

.pr-2 {
  padding-right: var(--spacing-two);
}

.pr-3 {
  padding-right: var(--spacing-three);
}

.pr-4 {
  padding-right: var(--spacing-four);
}

.pr-5 {
  padding-right: var(--spacing-five);
}

.pr-auto {
  padding-right: auto;
}

/* padding-left */

.pl-0 {
  padding-left: 0;
}

.pl-1 {
  padding-left: var(--spacing-one);
}

.pl-2 {
  padding-left: var(--spacing-two);
}

.pl-3 {
  padding-left: var(--spacing-three);
}

.pl-4 {
  padding-left: var(--spacing-four);
}

.pl-5 {
  padding-left: var(--spacing-five);
}

.pl-auto {
  padding-left: auto;
}

/* padding - x axis */

.px-0 {
  padding-right: 0;
  padding-left: 0;
}

.px-1 {
  padding-right: var(--spacing-one);
  padding-left: var(--spacing-one);
}

.px-2 {
  padding-right: var(--spacing-two);
  padding-left: var(--spacing-two);
}

.px-3 {
  padding-right: var(--spacing-three);
  padding-left: var(--spacing-three);
}

.px-4 {
  padding-right: var(--spacing-four);
  padding-left: var(--spacing-four);
}

.px-5 {
  padding-right: var(--spacing-five);
  padding-left: var(--spacing-five);
}

.px-auto {
  padding-right: auto;
  padding-left: auto;
}

/* Padding - y axis */

.py-0 {
  padding-top: 0;
  padding-bottom: 0;
}

.py-1 {
  padding-top: var(--spacing-one);
  padding-bottom: var(--spacing-one);
}

.py-2 {
  padding-top: var(--spacing-two);
  padding-bottom: var(--spacing-two);
}

.py-3 {
  padding-top: var(--spacing-three);
  padding-bottom: var(--spacing-three);
}

.py-4 {
  padding-top: var(--spacing-four);
  padding-bottom: var(--spacing-four);
}

.py-5 {
  padding-top: var(--spacing-five);
  padding-bottom: var(--spacing-five);
}

.py-auto {
  padding-top: auto;
  padding-bottom: auto;
}

/* FONT UTILS */
.text-uppercase {
  text-transform: uppercase;
}

.text-center {
  text-align: center;
}

.text-justify {
  text-align: justify;
}

.text-right {
  text-align: right;
}

.text-primary {
  color: var(--primary);
}

.text-secondary {
  color: var(--secondary);
}

.text-tertiary {
  color: var(--tertiary);
}

.text-quatrinary {
  color: var(--quatrinary);
}

.text-light {
  color: var(--light);
}

.text-dark {
  color: var(--dark);
}

.text-error {
  color: var(--error);
}

/* BACKGROUND UTILS */
.bg-primary {
  background-color: var(--primary);
}

.bg-secondary {
  background-color: var(--secondary);
}

.bg-tertiary {
  background-color: var(--tertiary);
}

.bg-light {
  background-color: var(--light);
}

.bg-dark {
  background-color: var(--dark);
}

/* FLEX CONTENT */
.flex-row {
  display: flex;
  flex-wrap: wrap;
}

.flex-column {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.justify-space-between {
  justify-content: space-between;
}

.justify-space-around {
  justify-content: space-around;
}

.justify-flex-start {
  justify-content: flex-start;
}

.justify-flex-end {
  justify-content: flex-end;
}

.justify-center {
  justify-content: center;
}

.align-stretch {
  align-items: stretch;
}

.align-end {
  align-items: flex-end;
}

.align-center {
  align-items: center;
}

.col-auto {
  flex-grow: 1;
  flex-basis: 0;
}

.col-1 {
  flex: 0 0 calc(100% * 1 / 12 - 0.5%);
}

.col-2 {
  flex: 0 0 calc(100% * 2 / 12 - 0.5%);
}

.col-3 {
  flex: 0 0 calc(100% * 3 / 12 - 0.5%);
}

.col-4 {
  flex: 0 0 calc(100% * 4 / 12 - 0.5%);
}

.col-5 {
  flex: 0 0 calc(100% * 5 / 12 - 0.5%);
}

.col-6 {
  flex: 0 0 calc(100% * 6 / 12 - 0.5%);
}

.col-7 {
  flex: 0 0 calc(100% * 7 / 12 - 0.5%);
}

.col-8 {
  flex: 0 0 calc(100% * 8 / 12 - 0.5%);
}

.col-9 {
  flex: 0 0 calc(100% * 9 / 12 - 0.5%);
}

.col-10 {
  flex: 0 0 calc(100% * 10 / 12 - 0.5%);
}

.col-11 {
  flex: 0 0 calc(100% * 11 / 12 - 0.5%);
}

.col-12 {
  flex: 0 0 100%;
}

/* Utilities START */
.project-container {
  /* display: flex;
  flex-wrap: wrap;
  justify-content: space-around; */
}

.border-radius-2 {
  border-radius: 2%;
}

.project-size {
  /* width: 45%; */
  margin: 5vh 3vw 0 3vw;
}
.main-width {
  width: 75%;
}
.background-beige {
  background-color: var(--color-beige);
}
.text-blue {
  color: #105762;
}
.border-dark {
  border: 1px solid var(--dark);
}

/* Utilities END */

/* col-sm */
@media screen and (max-width: 980px) {
  .about-me-img-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .page-container {
    height: 100vh;
    background-color: var(--color-beige);
  }
  .project-size {
    margin-top: 5%;
  }
  .header-container {
    display: flex;
    width: 100vw;
    background-color: var(--background-one);
    /* background-color: var(--color-blue); */
  }
  .header-sub-container {
    /* display: flex; */
  }
  .header-list {
    display: flex;
  }

  .header > div {
    display: flex;
  }

  .header > div > ul {
    display: flex;
  }

  .header-list {
    justify-content: space-between;
    display: flex;
  }
  /* .mobile {
    display: none;
  } */
  .font-size-scale {
    font-size: 8vw;
  }

  .navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 3%;
    /* padding: 1rem 1.5rem; */
  }

  .nav-container {
    display: flex;
    align-items: center;
    width: 85vw;
    justify-content: space-between;
  }

  .bar {
    display: block;
    width: 30px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #ffffff;
  }

  .nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    display: none;
  }

  .nav-logo {
    font-size: 2.1rem;
    font-weight: 500;
    color: #482ff7;
  }

  .hamburger {
    display: block;
    cursor: pointer;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }
  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .sidebar-menu {
    position: fixed;
    /* top: 6rem; */
    /* right: 0; */
    top: 0;
    margin: 0;
    width: 100vw;
    /* padding-left: 1%; */
    background: black;
    box-sizing: border-box;
    transition: 0.5s;
    z-index: 9000;
  }

  .sidebar-menu li {
    margin-right: auto;
    margin-left: auto;
    list-style: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    color: #fff;
  }

  .sidebar-menu li a {
    text-decoration: none;
    font-style: italic;
    font-size: 60%;
    color: #fff;
  }

  .mobile-expanded {
    display: flex;
    justify-content: end;
  }
  .slide-active {
  }

  .slide-inactive {
    top: -100vh;
  }
  .hamburger > .active ~ .overlay {
    visibility: visibile;
    opacity: 0.4;
  }
  .lg-screen {
    display: none;
    /* visibility: ; */
  }
  .project-container {
    /* flex-direction: column; */
  }
  .project-size {
    width: 100%;
  }
  .main-width {
    width: 95vw;
    margin: 0 auto 0 auto;
  }
  .tag-portfolio {
    top: 5%;
  }
}

/* col-xl */
@media screen and (min-width: 980px) {
  .about-me-img-container {
    /* display: flex;
    flex-direction: column;
    justify-content: space-between; */
  }
  .about-me-content-container {
    /* width: 45%; */
  }
  .selfie-container {
    width: 15vw;
    align-items: center;
  }
  .header-container {
    padding-left: var(--spacing-five);
    width: 25%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--background-one);
    /* background-color: var(--color-blue); */
  }
  .mobile {
    display: none;
  }
  /* .font-size-scale {
    font-size: 8vw;
  } */
}

/* ---------------------------------------------------------------------------------------------------------------------------------------------- */
.transition-a {
  transition: all 0.2s;
}
.transition-a:hover {
  color: var(--secondary);
}

.background-dark {
  background-color: var(--background-one);
}
.background-light {
  background-color: var(--background-two);
}
.font-size-sm {
  font-size: 1vw;
}

.font-size-lg {
  font-size: 2vw;
}

/* --------------------------- background images -------------------- */

/* Home image */
.img-background- {
  width: 100vw;
  height: 100vh;
  background-image: url("../public/img/front-page.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

/* About me image */
/* .img-background-about-me {
  width: 100vw;
  height: 100vh;
  background-image: url("../public/img/leafs.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
} */

/* portfolio image */
/* .img-background-portfolio {
  width: 100vw;
  height: 100vh;
  background-image: url("../public/img/city.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
} */

/* contact image */
/* .img-background-contact {
  width: 100vw;
  height: 100vh;
  background-image: url("../public/img/contact.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
} */

/* resume image */
/* .img-background-resume {
  width: 100vw;
  height: 100vh;
  background-image: url("../public/img/resume-page.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
} */

/* --------------------------- background images -------------------- */
.img-project-container {
  width: 100%;
  height: 100%;
  position: relative;
}
.img-project-container:hover .image {
  opacity: 0.3;
}

.img-project-container:hover .show-desc {
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.9);
}
.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: 0.5s ease;
  backface-visibility: hidden;
}
.show-desc {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 9001;
  /* position: relative; */
  /* top: 60%;  */
  /* left: 50%; */
  background-color: transparent;

  /* transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);  */
  text-align: center;
}
.desc-text {
  font-style: italic;
  padding: 0;
  margin: 0;
  color: #c2c1bb;
}
.color-grey {
}
.img-project {
  width: 100%;
  height: 100%;
  border-radius: 0 1% 1% 0;
  /* border: 2px solid var(--background-one); */
}
.dark-overlay {
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
  top: 0;
  left: 0;
  /* margin: 0 auto 0 auto; */
  /* width: 60%; */
  /* height: 60%; */
}
.page-container {
  position: relative;
}
.tag {
  position: absolute;
  /* top: 20%; */
  /* z-index: 1000;  */
}

.font-one-five-vw {
  font-size: 1.5vw;
  font-weight: 800;
  color: #000;
}
.font-one-eight-vw {
  font-size: 1.8vw;
  color: #000;
  font-weight: 800;
}

.tag-portfolio {
  position: absolute;
  /* top: 5%; */
  z-index: 1000;
}

.text-format {
  font-family: "Karla", sans-serif;
  color: var(--color-blue);
  font-weight: 700;
  line-height: 1.25;
}
.text-italic {
  font-style: italic;
}
.text-format-sm {
  font-size: 70%;
}

.project-list {
  overflow-y: scroll;
  height: 100vh;
  padding-bottom: 1vh;
}

.project-list::-webkit-scrollbar {
  display: none;
}

.text-dark-bold {
  color: var(--secondary);
  bold: 70%;
}

.background-light {
  background-color: #ffffff;
}

.social-media {
  justify-content: space-between;
}

.project-socials {
  margin: 0;
  display: flex;
  justify-content: space-around;
}
.project-socials li {
  width: 15%;
}


/* .production {
  width: 10%;
} */
/* ---------------------------------------------------------------------------------------------------------------------------------------------- */

.card {
  /* height: 400px; */
  height: 60vh;
  position: relative;
  /* padding: 20px; */
  padding: 0 0 0 1vw;
  box-sizing: border-box;
  display: flex;
  /* align-items: flex-end; */
  text-decoration: none;
  /* border: 4px solid #b0215e; */
  margin-top: 5vh;
  /* margin-bottom: 5vh; */
  margin-right: 3vw;
  margin-left: 3vw;
  background: #f2f2f2;
  /* background-image: url('https://images.unsplash.com/photo-1516051662687-567d7c4e8f6a?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1868&q=80'); */
  background-size: cover;
  box-shadow: 0 15px 30px 1px grey;
  border-radius: 1%;
}

.card-item {
  width: 30%;
  /* align-items: center; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-img {
  width: 70%;
  align-items: center;

}
.inner {
  height: 50vh;
  display: flex;
  flex-wrap: wrap;
  width: 35vw;
  /* flex-direction: column; */
  /* justify-content: center; */
  /* align-items: center;  */
  background: white;
  box-sizing: border-box;
  padding: 40px;
}

.title {
  font-size: 24px;
  color: black;
  text-align: center;
  font-weight: 700;
  color: #181818;
  text-shadow: 0px 2px 2px #a6f8d5;
  position: relative;
  margin: 0 0 20px 0;
}

.subtext {
  font-size: 1.2vw;
}

.img-sweeneys {
  background-image: url("../public/img/img-project/Sweeneys.jpg");
}

.mail-container {
  width: 5vw;
  display: flex;
  margin-right: auto;
  margin-left: auto;
}

.mail-container:hover {
}

.contact-container {
  display: flex;
  justify-content: space-between;
  margin-top: 10vh;
}

.skills-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.skill {
  width: 10%;
  height: 10%;
  margin-right: auto;
  margin-left: auto;
}
.skill-img {
  width: 100%;
}
.skill-text {
  display: flex;
  justify-content: center;
}
.odd-row {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.even-row {
  display: flex;
  justify-content: space-around;
}
.space-around {
  justify-content: space-around;
}
.socials{
  display: flex;
  justify-content: space-around;
  margin-top: 15vh;
}
.socials-item {
  width: 4vw;
}

.contact-item {
  width: 25%;
  text-align: center;
}